<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="laptop" class="org.practice.spring.SpringDemo.Laptop" />
	<bean id="person" class="org.practice.spring.SpringDemo.Person">
		<constructor-arg value="10"/>
		<constructor-arg ref="laptop"/>
	</bean>

</beans>